*{
    margin: 0;
    padding: 0;
}
#overall{
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0);
    position: absolute; /*设置个absolute全屏了*/
}
#top{
	height: 150px;
	background-color: #3C763D;
}
a:link{ /*正常连接样式*/
				   color:#8FBC8F; 
				   text-decoration:underline; 
				   text-decoration:none; 
			} 
			a:visited{/*定义已访问过的连接样式*/ 
					  color:#00FF00; 
					  text-decoration:none; 
			} 
			a:hover{ /*定义鼠标悬浮在连接上的样式*/
			        color:#000000; 
			        text-decoration:none; 
			} 
			a:active{/*定义鼠标点击连接时的样式*/
					 color:#FFFFFF; 
			         text-decoration:none; 
			} 
	
#center{
	text-align: center;
	height: 150px;
	background-color: #5CB85C;
	
}	
#down_button{
	text-align: center;
	height: 100px;
	background-color:#8FBC8F;
}	
#down{
	height: 100%;
	background-color: #204D74;
	
}
#down_left_div{
	width: 49.5%;
	height: 56%;
	display:inline-block;
	background-color: #8A6D3B;
}
#down_right_div{
	
	float: right;
	width: 49.5%;
	height: 56%;
	display:inline-block;
	background-color: #D58512;
}
